<%-include("partials/header")-%>
<div class=" jumbo jumbotron">
  <h1 >User already exist!</h1>
  <hr>
  <a class="btn btn-dark btn-lg" href="/add" role="button"> Add another User</a>

</div>

<%-include("partials/footer")-%>
