<%-include("partials/header")-%>
<div class=" jumbo jumbotron">
  <h1>Insufficient Amount !</h1>
  <hr>
  <a class="btn btn-dark btn-lg" href="/amt" role="button">Re-enter Amount</a>
  <a class="btn btn-dark btn-lg" href="/" role="button">Cancel Transaction</a>

</div>
<%-include("partials/footer")-%>
