<%- include("partials/header"); -%>

<div class="container">
  <div class="jumbotron centered">
    <img class="logo1" src="/assets/logo1.png" alt="">
    <hr class="rule">
    <a href="/users"><button class=" btn1 btn btn-outline-light btn-lg" name="button">All Users </button></a>
    <a href="/history"><button class="btn2 btn btn-outline-light btn-lg" type="button" name="button">Transfer History</button></a>
  </div>

</div>


<%- include("partials/footer"); -%>
