<%-include("partials/header")-%>
<div class=" jumbo jumbotron">
  <h1 >Successful Transaction!</h1>
  <hr>
  <a class="btn btn-dark btn-lg" href="/users" role="button">Another Transaction</a>

</div>

<%-include("partials/footer")-%>
