body{
  background-color: #a2de96;

}
.centered {
    padding-top: 100px;
    text-align: center;
    background-color: #a2de96;

}
.class1{
  background-image: url("/assets/bg2.png");
}
.logo1{
  height: 250px;
  width: 250px;
  margin-bottom:20px;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: .8rem;
  background: #212529;
  color: white;
  padding: 5px;
  width: 100%;
  margin-top: 40px;
}

.footer li {
  display: inline;
  margin: 20px 15px 0px;
  list-style-type: none;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}
.btn1{
  position:relative;
  left: 20px;

}
.btn2{
  position:relative;
  left: 25px;

}

@media screen and (max-width: 660px) {
  .btn1{
    display: block;
    left:30%;
  }
  .btn2{
    display: block;
    left:19%;
    margin-top:20px;

  }

}
.tablee{
  text-align: center;
}
.table_css{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}
.button_user{
  margin:40px 7px 60px 7px;
}
.jumbo{
  margin-top: 40px;
}
.form_css{
  margin-top: 40px;
  background: white;
  padding:40px;
}
